*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
body {
    width: 100vw;
    /* height: 100vh; */
    height: 100svh;
    box-sizing: border-box;
    color: var(--color-main);
    background-color: var(--color-background);
}

.game{
    width: 100%;
    height: 100%;
    /* background-image: url("../images/rock-wall.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; */

    display: flex;
    flex-direction: column;
    flex: 0 0;
}
.game>*{
    overflow: hidden;
}
.game>header{
    padding: 0.5em;
    /* background-image: url("../images/sand.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; */
}
.game>footer{
    padding: 0.5em;

    /* background-image: url("../images/sand.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top left; */
}
.maze{
    background-image: url("../images/rock-wall.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    flex-grow: 1;
    background-color: transparent;

    /* position: relative; */
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    justify-content: flex-start;
}
.row{
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    justify-content: flex-start;
    flex-grow: var(--rateCellWall);
}
.row--wallSize{
    flex-grow: 1;
}

.cell {
    flex-grow: var(--rateCellWall);
    
    /* background-image: url("../images/sand.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; */
    background-color: var(--color-background) ;
}
.cell--thin {
    flex-grow: 1;
}
.cell--wall{
    background-color: transparent;
    transition: all 2s;
}
.cell--wall.cell--hidden{
    background-color: var(--color-background) ;
}

.cell--exit{
    background-color: var(--color-exit);
    animation: blinker 2s linear infinite;
}
@keyframes blinker {
    50% {
        background-color: var(--color-background) ;
    }
}

.cell--hero::after{
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-image: url(../images/footprints100.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.cell--hero.cell--right::after{
    transform: rotate(90deg);
}
.cell--hero.cell--down::after{
    transform: rotate(180deg);
}
.cell--hero.cell--left::after{
    transform: rotate(-90deg);
}
.cell--hero.cell--up::after{
    transform: rotate(0deg);
}

.cell.cell--visited:not(.cell--hero)::after{
    content: "";
    display: block;
    width: 100%;
    height: 100%;

    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    background-image: url(../images/footprints100.png);
    filter: brightness(0) saturate(100%) invert(40%) sepia(2%) saturate(4%) hue-rotate(34deg) brightness(96%) contrast(99%);

    transition: all 4s;

}
.cell.cell--visited:not(.cell--hero).cell--right::after{
    transform: rotate(90deg) scale(var(--scaleVisited));
}
.cell.cell--visited:not(.cell--hero).cell--down::after{
    transform: rotate(180deg) scale(var(--scaleVisited));
}
.cell.cell--visited:not(.cell--hero).cell--left::after{
    transform: rotate(-90deg) scale(var(--scaleVisited));
}
.cell.cell--visited:not(.cell--hero).cell--up::after{
    transform: rotate(0deg) scale(var(--scaleVisited));
}

/*
https://angel-rs.github.io/css-color-filter-generator/
https://yandex.ru/search/?text=css+%D0%B7%D0%B0%D0%BC%D0%B5%D0%B8%D1%82%D1%8C+%D0%BE%D0%B4%D0%B8%D0%BD+%D1%86%D0%B2%D0%B5%D1%82+%D0%B2+%D0%B8%D0%B7%D0%BE%D0%B1%D1%80%D0%B0%D0%B6%D0%B5%D0%BD%D0%B8%D0%B8+%D0%BD%D0%B0+%D0%B4%D1%80%D1%83%D0%B3%D0%BE%D0%B9&lr=15&clid=1955453&win=601

https://qaa-engineer.ru/zamena-czveta-izobrazheniya-ispolzuya-css/
https://stackoverflow.com/questions/7415872/change-color-of-png-image-via-css
https://stackoverflow.com/questions/7415872/change-color-of-png-image-via-css/39796437#39796437
*/